* {
    margin: 0 auto;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d5d5d5;
    margin: 0 auto;
    padding: 0;
}

.input{
    width: 500px;
    height: 200px;
    margin-top: 35px;
    background-color: #686368cc;
    border-radius: 3px;
    color: white;
}

.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 950px;
    height: 340px;
}

.keyboard :only-child{
    margin-left: 20px;
}

.simple-key{
    margin: 2px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #4d4e5f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: 0.2s cubic-bezier(.14, .72, .92, .32);
}
.simple-key:active{
    border-radius: 50%;
    background: rgb(235, 2, 2);
    background: linear-gradient(0deg, rgba(77,78,95,1) 3%, rgb(116, 20, 3) 78%);
    z-index: 1;
}
  .row {
    display: flex;
    flex-direction: row;
    height: 55px;
    margin-bottom: 8px;
  }

  .keyboard .simple-key {
    width: 55px;
    height: 55px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #4d4e5f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
  }

  .keyboard .simple-key:hover {
    background: rgb(77,78,95);
    background: linear-gradient(0deg, rgba(77,78,95,1) 18%, rgba(40,61,96,1) 80%);
  }

  .keyboard .Tab {
    width: 70px;
  }

  .keyboard .Backspace,
  .keyboard .CapsLock,
  .keyboard .ShiftLeft {
    width: 100px;
  }

  .keyboard .AltLeft,
  .keyboard .AltRight,
  .keyboard .ArrowUp,
  .keyboard .ArrowLeft,
  .keyboard .ArrowDown,
  .keyboard .ArrowRight,
  .keyboard .Backspace,
  .keyboard .CapsLock,
  .keyboard .ControlLeft,
  .keyboard .ControlRight,
  .keyboard .Enter,
  .keyboard .ShiftLeft,
  .keyboard .ShiftRight,
  .keyboard .Tab,
  .keyboard .MetaLeft {
    font-weight: 600;
    color: grey;
    background-color: #1c232e;
  }

  .keyboard .Backslash {
    width: 70px;
  }

  .keyboard .Enter,
  .keyboard .ShiftRight {
    width: 86px;
  }

  .keyboard .ctrl {
    width: 40px;
  }

  .keyboard .Space {
    width: 330px;
  }

  .input {
        caret-color: #00ff26;
        width: 800px;
        height: 300px;
        padding: 10px;
        border: 3px solid #1c232e;
        font-size: 18px;
        color: #00ff26;
  }

  .caseDown,
  .caseUp {
    display: block;
    min-height: 40px;
  }

  .hidden {
    display: none;
  }

.simple-key.press{
    background-color: red;
    transform: rotate3d(1, 1, 1, 10deg);
}
.Space.press{
    transform: rotate3d(1, 1, 1, 5deg);
}
